{% extends 'base.html' %}
{% block content %} 
<div id="centering_using_grid">
    <div class="intro_1">
        <h2>Welcome to ΣChat</h2>
        <h2>Are you a coding SIGMA?</h2> 

        <div class="buttons_for_login_and_signup">
            <button type="button" id="login-btn" class="button login" data-href="{{ url_for('auth.login') }}">
                Login
            </button>
            <button type="button" id="register-btn" class="register button" data-href="{{ url_for('auth.register') }}">
                Register
            </button>
            <script>
                document.addEventListener("DOMContentLoaded", function(){
                // for both login and register
                document.querySelectorAll(".buttons_for_login_and_signup [data-href]")
                .forEach(btn => {
                    btn.addEventListener("click", () => {
                    window.location.href = btn.getAttribute("data-href");
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}


