{% extends 'base.html' %}
{% block content %} 
<h1>Welcome, {{ name }}!</h1>
<a href="{{url_for('auth.logout')}}">Press here to logout</a>

<h3>Enter the chat room as {{ name }}</h3>
<form method="post" class="button">
    <div class="join">
        <input
            type="text"
            placeholder="Room code"
            name="code"
            value="{{code}}"
            style="text-transform: uppercase;"
            oninput="this.value = this.value.toUpperCase()"
            aria-label="Room Code"/>
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" class="create-button" name="create">Create Room</button>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
</form>


<!-- Added to display the leaderboard-->
<table border="1">
    <caption style="margin-bottom: 10px; font-weight: bold; font-size: 1.5em;">Global Leaderboard</caption>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for user in leaderboard %}
        <tr>
            <td>{{ loop.index }}</td> 
            <td>{{ user.username }}</td>
            <td>{{ user.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}